*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color1 : #d6f4f8;
    --bg-color2 : #f3dafb;
    --bg-color3 : #16969e;
    --bg-color4 : #C8437B;
    --font-fontfamily1 : "Poppins", sans-serif;
    --font-fontfamily2 : "Rubik Wet Paint", system-ui;
    --font-color1 : black;
    --font-color2 : #00A2B8;

}

body{
    font-family: var(--font-fontfamily1);
    color: var(--font-color1);
}
header{
    padding: 5vh;
    text-align: center;
    background: radial-gradient(circle at 0%, var(--bg-color1), var(--bg-color2));
}
li{
    list-style: none;
}
.logo, .menu>ul, .login>ul{
    padding-bottom: 1rem;
}
.logo, .menu>ul>li, .login>ul>li{
    cursor: pointer;
}
.menu > ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.logo:hover, .menu>ul>li:hover, .login>ul>li:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    color: var(--font-color2);
    text-decoration: underline;
}

/* section-1 */

.section-1{
    padding: 30px;
    text-align: center;
    background: radial-gradient(circle at 0%, var(--bg-color1), var(--bg-color2));
    padding-bottom: 0;
}
.bluecolor{
    color: var(--font-color2);
}
.section-1-1-data2{
    padding: 1rem;
}
.section-1-1-data1{
    font-family: var(--font-fontfamily2);
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 2rem;
}
.section-1-1-data2{
    font-family: var(--font-fontfamily2);
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 1.5rem;
}
.section1btns{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.servcalbtn{
    margin: 1rem 0rem;
    align-items: center;
    font-size: 1rem;
    border-radius: 1.5rem;
    border: 1px solid var(--bg-color4);
    padding: 10px;
    background-color: white;
    width: 9rem;
    color: var(--bg-color4);
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgb(238, 181, 232);
}
.servcalbtn:hover{
    background-color: var(--bg-color4);
    color: white;
}

/* section-2 */
.section-2{
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
}
.section-2-1{
    width: 100%;
    padding: 2rem 2rem;
    background: radial-gradient(circle at 0%, var(--bg-color1), var(--bg-color2));
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1.5rem;
}
.groupbutton{
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    border-style: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.groupbutton:hover{
    background-color: var(--bg-color1);
}
.section-2-1-1{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.section-2-1-1>p{
    font-size: 1.2rem;
}

/* section-3 */
.section-3{
    text-align: center;
    width: fit-content;
    padding: 1rem 2rem;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.aboutdetails{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.aboutdetails>h3{
    font-size: 2rem;
}
.aboutdetails>p{
    font-size: 1.2rem;
}

/* section-4 */

.section-4{
    padding: 1rem 2rem;
}
.section-4>h3{
    font-size: 1.5rem;
}

/* section-5 */

.section-5{
    padding: 1rem 2rem;
}
.section5info>h3{
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.section5info>p{
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
.section5img{
    text-align: center;
    padding-bottom: 2rem;
}
.section5img>img{
    border-radius: 1.6rem;
    box-shadow: 0 0 10px 1px rgb(69, 201, 245);
}

/* section-6 */

.section-6{
    /* padding: 1rem 2rem; */
    background-color: var(--bg-color2);
}
.section6img{
    text-align: center;
}
.booknowbtn{
    align-items: center;
    font-size: 1rem;
    border-radius: 1.5rem;
    border: 1px solid var(--bg-color3);
    padding: 10px;
    background-color: white;
    width: 9rem;
    color: var(--bg-color3);
    cursor: pointer;
}
.booknowbtn:hover{
    background-color: var(--bg-color3);
    color: white;
}
.section6info{
    display: flex;
    border: 2px solid var(--bg-color4);
    border-radius: 1.5rem;
}
.section6info1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    padding: 1rem;
}
.section6info1>h2{
    font-size: 1.6rem;
}
.section6info2{
    padding: 1rem 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section6info2>h3{
    font-size: 1.3rem;
}
.section6info2>p{
    font-size: 1.1rem;
}

/* section-7 */

.section-7{
    border-radius: 2rem;
    margin: 1.2rem;
    padding-top: 1rem;
    background-color: var(--bg-color1);
    box-shadow: 0 0 10px 2px rgb(175, 181, 184);
}
.secton-7-1{
    padding-top: 1rem;
    background-color: var(--bg-color2);
    border-radius: 2rem;
}
.section-7-1-1{
    padding-top: 1rem;
    background-color: white;
    border-radius: 2rem;
}
.section-7-1-1-1{
    padding: 1rem;
    text-align: center;
}
.namedob>h3{
    font-size: 1.5rem;
}
.namedob>p, .rating>p{
    font-size: 1.2rem;
}
.section7info2{
    text-align: left;
    font-size: 1.1rem;
}

/* section-8 */

.section-8{
    padding: 2rem;
    background-color: #e6f5f7;
    text-align: center;
}
.section-8-1{
    padding-bottom: 1rem;
}
.section-8-1 h2{
    font-size: 1.8rem;
    font-weight: 600;
}
.section-8-1 p{
    font-size: 1.1rem;
}
.section-8-2{
    padding: 2rem;
}
.card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}
.icon{
    position: absolute;
    top: -0.1rem;
}
.icon img{
    width: 5rem;
}
.card{
    border: 1px solid var(--bg-color4);
    border-radius: 1.5rem;
    padding: 2rem 5rem 1rem 5rem;
}
.card p{
    font-size: 1.1rem;
}

/* footer */

footer{
    padding: 2rem 3rem;
}
.footer-1{
    padding-bottom: 1rem;
}
.footer-2 h3{
    font-size: 1.5rem;
}
.footer-2 p{
    font-size: 1.1rem;
    color: rgb(69, 67, 65);
}